
header footer{ 
    background-color: #C6EFEE;
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    }

.bg-blue { 
        background-color: #C6EFEE;
     }

.text-color{
    margin: 5px;
    color: black;
}

    .font-montserrat {
        font-family: 'Montserrat', sans-serif;
    }
